<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Welcome</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mb-0 h1">Welcome</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/infographic" target="_blank" rel="noopener noreferrer">Infographic</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://github.com/AdrianaCieslak" target="_blank" rel="noopener noreferrer">Adriana Cieslak</a>
            <a class="dropdown-item" href="https://github.com/Anumala89" target="_blank" rel="noopener noreferrer">Anumala Thapa</a>
            <a class="dropdown-item" href="https://github.com/jdkwak1994" target="_blank" rel="noopener noreferrer">Jeongdae (JD) Kwak</a>
            <a class="dropdown-item" href="https://github.com/samuelokunola326" target="_blank" rel="noopener noreferrer">Samuel Okunola</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/about" target="_blank" rel="noopener noreferrer">About the Project</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron">
    <h1 class="display-4">Airbnb Pricing Prediction</h1>
    <p class="lead">Using machine learning models to predict Airbnb price and understand some of the key driving factors behind the pricing of any given listing.</p>
    <hr class="my-4">
    <p>To get started, click the button down below!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/predict" role="button">Let's Get Started!</a>
    </p>
  </div>

  <div class="container">
    <div class="row">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="static/images/airbnblogo1.png" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="static/images/airbnblogo2.png" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="static/images/airbnblogo3.png" alt="Third slide">
          </div>
        </div>
      </div>
    </div>
  </div>

   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

